---
---

$header-bg-color: #8A2BE2;
$header-bg-color-secondary: #9370DB;
$header-heading-color: #FFFFFF;
$section-headings-color: #9800FF;
$code-bg-color: #f5f0ff;
$code-text-color: #444;

@import "{{ site.theme }}";

body {
  background: #FDFAFF;
  color: #444;
  font-family: Courier New;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('https://1days.neocities.org/assets/img/bg2.jpg') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.1;
  z-index: -1;
}

a {
  color: #9800FF;
  cursor: none;
  user-select: none;
  text-decoration: none;
}

a:hover {
  color: inherit;
  background: #F3ECFF;
  text-decoration: none;
  border-bottom: 1px solid #9800FF;
}

.site-footer {
  display: none;
}

::selection {
  background: #EBCCFF;
  color: #444;
}

.btn,
.btn:hover{
  text-transform: uppercase;
}

.btn {
  font-size: 0;
}

.btn::after {
  content: "🐱";
  font-size: 16px;
}   

hr {
  background-color: #D1D1D1 !important;
  height: 1px;
  border: 0;
}
